<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.example">

    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <!-- android:roundIcon="@mipmap/icon_example_round" -->
    <application
        android:name=".ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_example"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/launcher_activity_theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SocketTestActivity"
            android:label="Socket 及 ADB 通信测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListViewPullToRefreshViewActivity"
            android:label="ListView + PullToRefreshView 测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exoplayer.ExoplayerTestActivity"
            android:label="Exoplayer测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewTestActivity"
            android:label="WebView测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DataReadWriteTestActivity"
            android:label="数据读写测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomTextViewActivity"
            android:label="自定义view 文字绘制"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JNIPerformanceTestActivity"
            android:label="JNI使用性能效率分析"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RippleEffectActivity"
            android:label="波纹特效效果实现"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RxJavaAndThreadPoolActivity"
            android:label="RxJava及线程使用探索"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CollectionTestActivity"
            android:label="集合对比测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SynchronizedTestActivity"
            android:label="Synchronized 测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AesEncryptTestActivity"
            android:label="AES 加解密测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InternalStorageWriteActivity"
            android:label="内部存储写入文件测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".download.DownloadManagerTestActivity"
            android:label="DownLoadManager测试"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>